h1 {
  font-family: var(--headers-font);
  color: var(--headers-color);
}

.bg-image {
  background-image: url(../images/piece-of-paper.png);
  background-size: cover;
  height: 43rem;
  width: 100%;
}

.list-textbox {
  padding: 8rem 4rem 3rem 7rem;
}
.btns-row {
  position: fixed;
  bottom: 3rem;
  margin-left: 7rem;
}
