h1 {
  font-family: var(--headers-font);
  color: var(--headers-color);
}

.bg-image {
  background-image: url(../images/piece-of-paper.png);
  background-size: cover;
  background-position: center top;
  position: relative;
  height: 45rem;
}

.btns-row {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .bg-image {
    height: 43rem;
  }
  .btns-row {
    bottom: 0;
  }
}
