.list-textbox {
  overflow-x: hidden;
  padding: 2rem;
  max-width: 20rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .list-textbox {
    max-width: 25rem;
  }
}
@media (min-width: 768px) {
  .list-textbox {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  .list-textbox {
    height: 35rem;
    margin-top: 2rem;
    padding: 4rem;
    padding-bottom: 0;
    overflow-y: auto;
  }
}
@media (min-width: 1200px) {
  .list-textbox {
  }
}
