.list-textbox {
  overflow-x: hidden;
  padding: 2rem 0;
  max-width: 25rem;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .list-textbox {
    max-width: 30rem;
  }
}
@media (min-width: 768px) {
  .list-textbox {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  .list-textbox {
    margin: 6rem 2rem 0 3.5rem;
    height: 33rem;
    overflow-y: auto;
    padding: 0 1rem;
  }
}
@media (min-width: 1200px) {
  .list-textbox {
    margin: 6rem 3rem 0 4rem;
    padding-bottom: 1rem;
  }
}
