input[type="number"] {
  width: 2.5rem;
  background-color: transparent;
  border: none;
  font-family: Kalam, cursive;
  font-size: 1.2rem;
  color: rgba(56, 55, 56, 0.849);
}
select {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  margin-right: 2rem;
  font-family: Kalam, cursive;
  font-size: 1.2rem;
  color: rgba(56, 55, 56, 0.849);
}
select option {
  background-color: transparent;
}
