input[type="number"] {
  width: 2.5rem;
  background-color: transparent;
  border: none;
  font-family: var(--content-font);
  font-size: 1.2rem;
  color: var(--content-color);
}
select {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
  margin-right: 2rem;
  font-family: var(--content-font);
  font-size: 1.2rem;
  color: var(--content-color);
}
select option {
  background-color: transparent;
}
.check {
  color: green;
}
.delete {
  color: red;
}
.bigger-hover {
  transition: transform 0.3s;
}
.bigger-hover:hover {
  transform: scale(1.1);
}
.line-through {
  text-decoration: line-through;
}
