.notes {
  background-image: url(../images/post-it.png);
  background-size: cover;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
}
.notes-form {
  padding: 5rem 4.5rem 0 0;
}
textarea {
  width: 10.5rem;
  height: 7.5rem;
  background-color: transparent;
  border: none;
  resize: none;
  color: var(--content-color);
  font-family: var(--content-font);
  overflow: auto;
  line-height: 1;
}
label {
  display: block;
  font-family: var(--headers-font);
  font-size: 1.5rem;
  color: var(--headers-color);
}
.notes-btn {
  color: var(--headers-color);
  transition: all 0.3s;
}
.notes-btn:hover {
  color: var(--headers-color-dark);
  transform: scale(1.1);
}

@media (min-width: 576px) {
  .notes {
    height: 25rem;
    width: 25rem;
  }
  .notes-form {
    padding: 6.5rem 5.5rem 0 0;
  }
  textarea {
    width: 13rem;
    height: 9.5rem;
  }
  label {
    font-size: 2rem;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}
