input[type="text"] {
  width: 15rem;
  height: 2.5rem;
  border-radius: 13px;
  background-color: #c7b86679;
  color: var(--content-color);
  font-family: var(--simple-font);
  font-size: 1.2rem;
}
.arrow-icon {
  font-size: 2.3rem;
  color: var(--headers-color);
  transition: color 0.3s;
}
.arrow-icon:hover {
  color: var(--headers-color-dark);
}
