input[type="text"] {
  width: 15rem;
  height: 2.5rem;
  border-radius: 13px;
  border: none;
  background-color: #c7b86679;
  margin-right: 1rem;
  padding-left: 1rem;
  color: var(--content-color);
  font-family: var(--simple-font);
}
.form-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--headers-color);
  transition: background-color 0.3s;
  vertical-align: bottom;
}
.form-button:hover {
  background-color: var(--headers-color-dark);
}

.icon {
  font-size: 1.5rem;
  color: white;
  z-index: 4;
}
