input[type="text"] {
  width: 15rem;
  height: 2.5rem;
  border-radius: 13px;
  border: none;
  background-color: #f5ebeb96;
  margin-right: 1rem;
  padding-left: 1rem;
}
.form-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(255, 68, 0);
  transition: background-color 0.3s;
}
.form-button:hover {
  background-color: rgb(214, 61, 5);
}

.icon {
  font-size: 1.5rem;
  color: white;
  z-index: 4;
}
