body {
  /* ========= VARIABLES ========== */
  /* -COLORS- */
  --content-color: #214346;
  --headers-color: #d38900;
  --headers-color-dark: #d35400;
  --bg-color: #006266;
  --input-color: #ecf0f1a1;

  /* -FONTS- */
  --content-font: Kalam, cursive, Candara, Arial, sans-serif;
  --headers-font: "Permanent Marker", cursive;
  --simple-font: Candara, sans-serif;

  /* ================================ */

  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: var(--content-font);
  color: var(--content-color);
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: top;
  padding: 0.1rem;
}

input,
textarea,
select {
  border: none;
}
input,
textarea,
button,
select:focus,
button:focus {
  outline: none;
}

@media (min-width: 576px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  body {
    height: 100vh;
    overflow-y: hidden;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.4rem;
  }
}
