body {
  /* ========= VARIABLES ========== */
  /* -COLORS- */
  --content-color: rgba(56, 55, 56, 0.849);
  --headers-color: rgb(134, 17, 125);
  --headers-color-dark: rgb(92, 6, 85);

  /* -FONTS- */
  --content-font: Kalam, cursive, Candara, Arial, sans-serif;
  --headers-font: "Permanent Marker", cursive;
  --simple-font: Candara, sans-serif;

  /* ================================ */

  background-image: url(./images/halftone-yellow.png);
  overflow-x: hidden;
  font-family: var(--content-font);
  color: var(--content-color);
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: top;
  padding: 0.1rem;
}

input,
textarea,
select {
  border: none;
}
input,
textarea,
button,
select:focus,
button:focus {
  outline: none;
}

@media (min-width: 576px) {
  body {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  body {
    height: 100vh;
    overflow-y: hidden;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 1.4rem;
  }
}
