.page {
  margin: -8px;
  background-image: url(./images/halftone-yellow.png);
  overflow: hidden;
  height: 100vh;
  font-family: Kalam, cursive, Candara, Arial, sans-serif;
  font-size: 1.5rem;
  color: rgba(56, 55, 56, 0.849);
}
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}
